.row
  .col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
    %h1.text-center Top 10 most active commenters
    %br
    %table.table.table-striped
      %thead
        %tr
          %th #
          %th User name
          %th Number of comments
          %th Latests comment created at
      %tbody
        - @most_comments_users.each_with_index do |user, i|
          %tr
            %td.place= i + 1
            %td=       user.name
            %td=       user.comments_count
            %td=       user.created_at
